@import 'variables';

.container-fluid{
  width: 100%;
  margin: 0 auto;
  max-width: $grid-max-width;
}

.container{
  width: 95%;
  margin: 0 auto;
  max-width: $grid-max-width;
}

.container-fluid,
.container:after,
.row:after{
  content: "";
  display:table;
  clear: both;
}

[class*='col-']{
  float:left;
  // padding: 1em;
  width: 100%;
  min-height: 1px;
  display:inline-block;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

// media queries for responsive grid

@media #{$break-small}{
 
  @for $i from 1 through $grid-columns{
    .col-sm-#{$i}{
      width: 100% / $grid-columns * $i;
    }
  }

}

@media #{$break-medium}{
 
  @for $i from 1 through $grid-columns{
    .col-md-#{$i}{
      width: 100% / $grid-columns * $i;
    }
  }

}

@media #{$break-large}{
 
  @for $i from 1 through $grid-columns{
    .col-lg-#{$i}{
      width: 100% / $grid-columns * $i;
    }
  }
  
}


@media #{$break-xl}{
 
  @for $i from 1 through $grid-columns{
    .col-xl-#{$i}{
      width: 100% / $grid-columns * $i;
    }
  }
  
}
