html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1440px;
}

.container-fluid,
.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding: 1px;
  width: 100%;
  min-height: 1px;
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 320px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica , Arial ,sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .navbar {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

@media only screen and (min-width: 1024px) {
  header .navbar {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  header .navbar {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

header .nav-menu {
  margin: 0 auto;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

header .nav-menu ul {
  width: 90%;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

header .nav-menu ul li {
  padding: .8rem;
  color: #FFFFFF;
  opacity: 1;
  font-size: 1.3em;
  cursor: pointer;
}

header .nav-menu ul li img {
  width: 23px;
  height: 23px;
}

header .nav-menu ul li:hover {
  opacity: 0.7;
}

header .nav-mobile {
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

header .nav-mobile img {
  height: 23px;
  width: 20px;
}

@media only screen and (min-width: 1024px) {
  header .nav-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  header .nav-mobile {
    display: none;
  }
}

.heading {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  line-height: 1.5;
  letter-spacing: .011em;
}

.heading h1 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1.5em;
  font-weight: 300;
}

.heading h2 {
  font-size: 2.1em;
}

.cover-pic {
  background: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fewizmo.com%2Fwp-content%2Fuploads%2F2017%2F09%2Fapple-macbook-pro-touch-bar-ad-016-1.jpg&f=1");
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 1024px) {
  .cover-pic {
    height: 765px;
    background-position: top;
  }
}

.content img {
  width: 100%;
  height: 250px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .content img {
    height: 180px;
  }
}

.container .links-wrapper {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .container .links-wrapper {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
  }
}

.container .links-wrapper h3 {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.container .links-wrapper ul li {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.container .links-wrapper ul li a {
  text-decoration: none;
  color: #808080;
}

.container .links-wrapper ul li a:hover {
  opacity: 0.7;
  border-bottom: 1px solid #808080;
}

@media only screen and (min-width: 1024px) {
  .container footer {
    margin-top: 4rem;
    margin-left: 6.2rem;
  }
}

.upper-footer {
  display: none;
}

.lower-footer {
  margin-top: .5rem;
}

.lower-footer h6 {
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  font-size: 0.9em;
  color: #808080;
  line-height: 1.3;
}

.lower-footer a {
  text-decoration: none;
  color: #6699CC;
}

.footer-lower-nav {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-lower-nav {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #d6d6d6;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-lower-nav {
    border-top: none;
  }
}

.footer-lower-nav h6 {
  font-size: 0.9em;
  color: #808080;
}

.footer-lower-nav ul {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5rem;
}

.footer-lower-nav ul li {
  padding-right: 0.2rem;
  font-size: 0.8rem;
  color: gray;
  border-right: 1px solid #d6d6d6;
  cursor: pointer;
}

.footer-lower-nav ul li:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  .footer-lower-nav ul li {
    padding-right: 0.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-lower-nav ul li {
    padding-right: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */